button{
    color: white;
    background-color: gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 25px;
    height: 20px;
}